<% content_tag_for( :tr, child ) do %>
<td class='path'>
<%= link_to child.path, child.path -%>
</td>
<td class='menu'>
<%= link_to child.menu(session[:locale]), child -%>
</td>
<td class='title'>
<%= link_to child.title(session[:locale]), child -%>
</td>
<td class='manage'>
<%= link_to "Edit", edit_page_path(child), :class => 'button' -%>
&nbsp;
<%= link_to "Destroy", page_path(child), 
	:class => 'button',
	:confirm => "Delete '#{child.title(session[:locale])}'?\nAre you sure?", 
	:method => :delete -%>
</td>
<!--
<td class='children'>
<%#= render :partial => 'child', :collection => child.children %>
</td>
-->
<% end %><!-- class='child' -->
