<% content_tag_for( :tr, page, :class => 'row' ) do %>
 <td><%= hidden_field_tag( 'pages[]', page.id, :id => nil ) %>
  <%= image_tag 'drag.gif', :class => 'handle' %></td>
 <td class='position'><%= page.position -%></td>

 <td><table><tbody><tr>
  <td class='path'>
   <%= link_to page.path, 
    ActionController::Base.relative_url_root.to_s + page.path -%>
  </td>
  <td class='menu'>
   <%= link_to page.menu(session[:locale]), page -%>
  </td>
  <td class='title'>
   <%= link_to page.title(session[:locale]), page -%>
  </td>
  <td class='manage'>
   <% if page.children.length > 1 %>
    <%= link_to "Order", pages_path(:parent_id => page.id), :class => 'button' -%>&nbsp;
   <% end %>
   <%= link_to "Edit", edit_page_path(page), :class => 'button' -%>&nbsp;
   <% destroy_link_to "Destroy", page_path(page) do %>
    <%= hidden_field_tag 'confirm', "Destroy page '#{page}'?", 
     :id => nil %>
    <%= submit_link_to 'Destroy' %>
   <% end %>
  </td>
 </tr>

 <% if page.children.length > 0 %>
  <%= render :partial => 'child', :collection => page.children %>
 <% end %>
 </tbody></table></td>
<% end %><!-- class='page' -->
