<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
 <%= render 'form', :f => f %>
 <p>
  <%= f.submit "Update", :id => nil %>&nbsp;
  <%= submit_link_to 'Update' %>
  <%= link_to "Cancel and View", @page, :class => 'button' %>
 </p>
<% end %>
