<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= @page_title || "Simply Pages Demo App" -%></title>
<%= javascript_include_tag 'jquery','jquery-ui','jrails','simply_helpful' %>
<%= stylesheet_link_tag 'application','pages','page','shared','authorized' %>
<%= yield :head %>
</head>
<body>
<center><h1>Simply Pages Demo App</h1></center>
<div id='container'>
<div id='menu'>
<% Page.roots.each do |page| %>
<%= link_to page.menu, page.path %>
<% end %>
<%= link_to "Pages", pages_path %>
</div>
<div id='content'>
<%= flasher() %>
<%= yield %>
<%= aws_image_tag('three_bears.jpg',:style => "width:100%;") %>
</div><!-- content -->
</div><!-- container -->
</body>
</html>
